.admin-link {
  color: #ccc;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 8px;
  display: block;
  transition: 0.25s;
}

.admin-link:hover {
  background: #003399;
  color: #fff;
}

.admin-link.active {
  background: linear-gradient(
    90deg,
    #1a8ea3,
    #003399
  );
  color: #fff;
  font-weight: 600;
}